.form {
    width: 100%;
    max-width: 500px;
    padding: 50px;
    border-radius: 10px;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.4);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

